/* 
----- color palette ------
- #2A2B2DFF black
- #D9514EFF red
- #2DA8D8FF blue

black text in red
blue text in black
red text in blue

#303544 light shade
#232533 dark shade
#feae28 yellow
#e8e7eb white
#91DDF2 pastel blue
*/

/* universal selector for font */
/* css validator doesn't like this font, says it's a vendor extention */
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




/* heading */
header {
  /* background-image: url(https://thumbs.gfycat.com/DearestCautiousGordonsetter-size_restricted.gif); */
  background-size: 100%;
  background-color: #303544;
  box-shadow: 5px 5px 20px black;
  padding: 50px;
  padding-top: 25px;
  padding-bottom: 0px;
  border-radius: 20px;
}

header h1 {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: #e8e7eb;
}

header blockquote, header p {
  font-size: 25px;
  text-align: center;
  color: #e8e7eb;
}

header figure {
  filter: grayscale(100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
}




/* idk, need to change later - took aside tag out cause it was breaking things*/
aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  /* float: right; */
  font-style: italic;
  background-color: lightgray;
}




/* main/body settings */
body {
  /* background-image: linear-gradient(#2DA8D8FF, #2A2B2DFF); */
  background-color: #232533;
}

main h2 {
  font-size: 50px;
  text-align: center;
  color: #e8e7eb;
  /* border-top: 5px solid;
  border-color: darkgray; */
}

main h3{
  font-size: 20px;
  color: #feae28;
}




/* skills */
#skills h3 {
  display: flex;
  justify-content: center;
  font-size: 75px;
}

#skills ol {
  display: grid;
  padding: 1em 1em 1em 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas: 
  "a b c d"
  "e f g h";
}

.a {
  background-color: #feae28;
  grid-area: a;
}

.b {
  background-color: #feae28;
  grid-area: b;
}

.c {
  background-color: #feae28;
  grid-area: c;
}

.d {
  background-color: #feae28;
  grid-area: d;
}

.e {
  background-color: #feae28;
  grid-area: e;
}

.f {
  background-color: #feae28;
  grid-area: f;
}

.g {
  background-color: #feae28;
  grid-area: g;
}

.h {
  background-color: #feae28;
  grid-area: h;
}

#skills ol li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 1em;
}




/* about me */
#aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 400px;
  background-color: #303544;
  color: #e8e7eb;
  font-size: 25px;
  padding: 200px;
  box-shadow: 5px 5px 20px black;
}

#aboutMe h3 {
  font-size: 75px;
}




/* education */
#education {
  padding-bottom: 200px;
}

#education h3 {
  font-size: 75px;
  display: flex;
  justify-content: center;
}

/* selecting both main and sublist */
#education ol, #education ul {
  display: grid;
  padding: 1em 1em 1em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas: 
  "i j k"
  "p l o"
  "q m space"
  "r n space";
}

.i {
  background-color: #E6A595;
  grid-area: i;
  border-radius: 25px;
  box-shadow: 5px 5px 20px black;
}

.j {
  background-color: #91DDF2;
  grid-area: j;
  border-radius: 25px;
  box-shadow: 5px 5px 20px black;
}

.k {
  background-color: #feae28;
  grid-area: k;
  border-radius: 25px;
  box-shadow: 5px 5px 20px black;
}

.l {
  background-color: #91DDF2;
  grid-area: l;
  border-radius: 25px;
  box-shadow: 5px 5px 20px black;
}

.m {
  background-color: #91DDF2;
  grid-area: m;
  border-radius: 25px;
  box-shadow: 5px 5px 20px black;
}

.n {
  background-color: #91DDF2;
  grid-area: n;
  border-radius: 25px;
  box-shadow: 5px 5px 20px black;
}

.o {
  background-color: #feae28;
  grid-area: o;
  border-radius: 25px;
  box-shadow: 5px 5px 20px black;
}

.p {
  background-color: #E6A595;
  grid-area: p;
  border-radius: 25px;
  box-shadow: 5px 5px 20px black;
}

.q {
  background-color: #E6A595;
  grid-area: q;
  border-radius: 25px;
  box-shadow: 5px 5px 20px black;
}

.r {
  background-color: #E6A595;
  grid-area: r;
  border-radius: 25px;
  box-shadow: 5px 5px 20px black;
}

.space{
  background-color: #232533;
  grid-area: space;
}

/* main list settings */
#education ol li {
  font-size: 30px;
  min-height: 100px;
  min-width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

/* sublist settings */
#education ul li {
  font-size: 20px;
  min-height: 50px;
  min-width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}




/* work experience */
#workExperience {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #303544;
  color: #e8e7eb;
  font-size: 25px;
  padding: 200px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px black;
}

#workExperience h3 {
  font-size: 75px;
}

#workExperience ol {
  list-style: square;
}




/* hobbies and interests */
#hobbiesAndInterests {
  color: #e8e7eb;
  font-size: 25px;
  padding: 200px;
}

#hobbiesAndInterests h3 {
  font-size: 75px;
  display: flex;
  justify-content: flex-end;
}

#hobbiesAndInterests ul li {
  font-size: 25px;
}

#hobbiesAndInterests ul figure figcaption {
  font-size: 15px;
  font-style: italic;
}

#hobbiesAndInterests ul {
  display: grid;
  padding: 1em 1em;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  grid-template-areas: 
  "s t"
  "u v";
}

.s {
  background-color: #303544;
  grid-area: s;
  border-radius: 25px;
  box-shadow: 5px 5px 20px black;
}

.t {
  background-color: #303544;
  grid-area: t;
  border-radius: 25px;
  box-shadow: 5px 5px 20px black;
}

.u {
  background-color: #303544;
  grid-area: u;
  border-radius: 25px;
  box-shadow: 5px 5px 20px black;
}

.v {
  background-color: #303544;
  grid-area: v;
  border-radius: 25px;
  box-shadow: 5px 5px 20px black;
}

/* flexbox inside of grid settings */
#hobbiesAndInterests ul li {
  padding: 50px;
  font-size: 30px;
  min-height: 100px;
  min-width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}




/* online presence */
#onlinePresence {
  background-color: #303544;
  color: #e8e7eb;
  font-size: 25px;
  padding: 200px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px black;
}

#onlinePresence p {
  display: flex;
  justify-content: center;
}

#onlinePresence h3 {
  font-size: 75px;
  display: flex;
  justify-content: center;
}

#onlinePresence address {
  padding: 50px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  gap: 10rem;
}

#onlinePresence address a img {
  height: 300px;
  width: 300px;
}

#onlinePresence address a:hover {
  cursor: pointer;
  opacity: 0.4;
  box-shadow: 0 0 0px #000000;
}




/* contact info */
#contactInfo {
  padding: 200px;
}

#contactInfo h2 {
  font-size: 75px;
  color: #feae28;
  display: flex;
  justify-content: center;
}

#contactInfo p {
  font-size: 25px;
  color: #e8e7eb;
  display: flex;
  justify-content: center;
}

#contactInfo address ul {
  padding: 50px;
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
}

#contactInfo address ul li {
  padding-bottom: 150px;
}

#contactInfo address ul li a {
  font-size: 25px;
  color: #e8e7eb;
  background-color: #303544;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px black;
}

#contactInfo address ul li a:hover {
  color: #feae28;
  cursor: pointer;
}




/* nav stuff */
nav {
  width: 100%;
  height: 60px;
  background-color: #feae28;
  border: solid;
  border-style: outset black;
  border-width: .1em;
  border-radius: 25px;
  box-shadow: 5px 5px 20px black;
}

nav p {
  font-family: arial;
  color: #2A2B2DFF;
  font-size: 24px;
  line-height: 55px;
  float: left;
  padding: 0px 20px;
}

nav ul {
  float: left;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  font-family: arial;
  color: #222;
  font-size: 24px;
  padding: 22px 14px;
  text-decoration: none;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #feae28;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 135px;
  border-radius: 4px;
  padding-top: 25px;
  text-align: left;
}

nav ul li ul li a {
  font-size: 1.2em;
  padding: 8px 14px;
  display: flex;
}

nav ul li ul li a:hover {
  color: white;
  cursor: pointer;
}

.navigation a:hover{
  color: white;
  cursor: pointer;
}